<div> <%# class="container" %>
  <div><%# class="row" %>
    <div><%# class=col-〇"" %>
      <p>
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションを用意しています。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
      <%# <img src="<%= asset_path('example.jpg') %><%#" alt="説明文"> %>
    </div>
  </div>
</div>